.navbar-inverse {
    background-color: #9d169d; 
    border-color: black;
    height: 20%;
    padding: 2%;

}
.navbar-inverse .navbar-nav>li>a {
    color: black;
    font-size: large;
    font-weight:60;
    font-family: Arial, Helvetica, sans-serif;
}
